/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    background-color: #F8FBFB;
    font-family: dosis-bold;
}
@font-face {
    font-family: "dosis-regular";
    src: url(assets/Dosis-Regular.ttf);
}

@font-face {
    font-family: "dosis-light";
    src: url(assets/Dosis-Light.ttf);
}

@font-face {
    font-family: "dosis-bold";
    src: url(assets/Dosis-Bold.ttf);
}

@font-face {
    font-family: "dosis-medium";
    src: url(assets/Dosis-Medium.ttf);
}
@font-face {
    font-family: "dosis-semiBold";
    src: url(assets/Dosis-SemiBold.ttf);
}

/* FILAS Y COLUMNAS */

.row-center{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    /* align-self: center; */
    align-items: center;    /* alinea elementos horizontalmente en el centro de la fila */
    /* justify-items: center; */
    justify-content: center;   /* alinea elementos verticalmente en el centro */
}

.row-right{
    display: flex;
    flex-direction: row;
    /* text-align: right; */
    /* align-self: right; */
    align-items: right;   /* alinea elementos horizontalmente en el centro de la fila*/
    /* justify-items: right; */
    justify-content: flex-end;   /* alinea elementos verticalmente a la derecha */
}

.row-left{
    display: flex;
    flex-direction: row;
    /* text-align:right; */
    /* align-self: left; */
    align-items: center;    /* alinea elementos horizontalmente en el centro de la fila*/
    /* justify-items: baseline; */
    justify-content: flex-start;    /* alinea elementos verticalmente a la izquierda */
}

.col-center{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-self: center; */
    align-items:center;     /* alinea elementos verticalmente en el centro */
    /* justify-items:center; */
    justify-content: center; /* sitúa elementos en la parte central de la columna */
}

.col-right{
    display: flex;
    flex-direction: column;
    text-align: right;
    /* align-self: right; */
    align-items:flex-end;   /* alinea elementos verticalmente a la derecha */
    /* justify-items:right; */
    justify-content: center;  /* sitúa elementos en la parte superior de la columna */
}

.col-left{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-self: left; */
    align-items: flex-start;   /* alinea elementos verticalmente a la izquierda */
    /* justify-items: left; */
    /* justify-content: flex-end;  sitúa elementos en la parte inferior de la columna */
    justify-content: center;  /* sitúa elementos en la parte superior de la columna */

}
/* /////////// margenes */
.marginTop10
{
    margin-top: 10px;
}
.marginTop22{
    margin-top: 22px;
}
.marginTop5
{
    margin-top: 5px;
}
.marginBottom10
{
    margin-bottom: 10px;
}
.marginBottom32
{
    margin-bottom: 32px;
}
.marginBottom5
{
    margin-bottom: 5px;
}
.marginLeft32
{
    margin-left: 32px;
    text-align: left;
    
}
.marginLeft12
{
    margin-left: 12px;
    
}
.marginRight32
{
    margin-right: 32px;
    
}
.marginRight12
{
    margin-right: 12px;
    
}
.iconSize32
{
    height: 32px;
    width:  32px;
}
/* /////////// tamano de texto */
.textBlueBold28{
    font-size: 28px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform:none;
  }

  .textGrayRegular20
  {
    font-size: 14px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-semibold;
    text-transform:uppercase;
  }
  .textBlueRegular22
  {
    font-size: 20px;
    color: #667a92;
    text-align: center;
    font-family: dosis-regular;
    text-transform:none;
  }
  .textBlueSemi22
  {
    font-size: 22px;
    color: #667a92;
    text-align: center;
    font-family: dosis-semibold;
    text-transform:unset;
  }
  .textGraySemi20
  {
    font-size: 20px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-semibold;
    text-transform:none;
  }
  .textGrayBold20
  {
    font-size: 20px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-bold;
    text-transform:none;
  }
  .textBlueBold22
{
    font-size: 22px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: none;
}
.logo{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 300px;
}
.botonAnadir{
    font-size: 12px;
    color: white;
    width: auto;
    height: 30px;
    background-color:darkseagreen;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 400px;
    font-family: dosis-bold;
    justify-content: center;
    white-space: nowrap;
    
}
.image{
    width: 200px;
    margin-top: 0;
}
.arrowArriba{
    transform: rotate(0deg);
}
.arrowAbajo{
    transform: rotate(180deg);
}
.icon{
    width: 10px;
    height: 10px;
}
.botonModificar{
    color: white;
    width: auto;
    height: 30px;
    white-space: nowrap;
    background-color:darkseagreen;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 400px;
    font-family: dosis-bold;
    justify-content: center;
    
}
.input{
    border: 1px solid #0000002a;
    color: rgb(0, 0, 0);
    height: 25px;
    width: 100px;
    font-size: 18px;
    font-family: dosis-semibold;
    border-radius: 7px;
}
.input::placeholder{
    font-size: 18px;
    font-family: dosis-bold;
    text-transform: capitalize;
    margin-left: 5px;
    color: darkgrey;
}

.input:focus{
    border: 1px solid #0000002a;
    font-size: 18px;
    outline: none;
}
.botonClose{
    width: 20px;
    height: 20px;
    background-color: #e4e4e4;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}
.botonEliminar{
    color: white;
    width: auto;
    height: 30px;
    white-space: nowrap;
    background-color:crimson;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 400px;
    font-family: dosis-bold;
    justify-content: center;
    
}
